* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
main {
  margin: 0 200px;
}
.gsc-control-cse.gsc-control-cse-en {
  border: none;
  background-color: transparent !important;
}
.gsc-webResult.gsc-result {
  border: none !important;
}

.gsc-results .gsc-webResult {
  background-color: transparent !important;
  border: none;
}

.gsc-wrapper {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: none !important;
}
.gsc-inline-block {
  color: #969696 !important;
}
.gsc-result-info {
  color: #969696 !important;
}
.gsc-option-menu-container .gsc-inline-block {
  background: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  );
  border: none;
  color: white;
}
.gsc-option-menu {
  background: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  ) !important;
}
.gsc-option-menu-item-highlighted {
  background: linear-gradient(to right, #883fe0, #f37e7e) !important;
  color: white !important;
}
.gcsc-more-maybe-branding-root {
  display: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  background-color: transparent !important;
  color: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  ) !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: #873fe065 !important;
}
.gsc-control-cse {
  border: none !important;
  background-color: transparent !important;
}
.gsc-above-wrapper-area {
  border-bottom: none !important;
}

.header {
  width: 100%;
  height: 30vh;
}
nav {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.logo {
  margin: 20px;
  cursor: pointer;
}
nav ul {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
  color: #fff;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 10px;
  background-color: rgba(
    0,
    0,
    0,
    0.863
  ); /* Semi-transparent white background */

  backdrop-filter: blur(40px);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: padding 1s;
  z-index: 9999; /* Set a high z-index value to make it appear on top */
}

.search-container {
  background: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  );
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;

  box-shadow: 4px 4px 6px 0 #f37e7e60, -4px -4px 6px 0 #873fe065,
    inset -4px -4px 6px 0 rgba(243, 126, 126, 0.01),
    inset 4px 4px 6px 0 rgba(136, 63, 224, 0.01);
}

.search-container:hover > .search-input {
  color: #fff;
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}


.search-container .search-btn .fas {
  background: linear-gradient(to right, #883fe0, #f37e7e);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  position: fixed;

  width: 70vw;
  height: 70vh;
  z-index: -2;
  justify-content: center;
  align-items: center;
  filter: blur(calc(var(--size) / 5));
  background: linear-gradient(to right, #6c2cc8, #cc5959);

  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}



body {
  background-color: #000;
  position: relative;
}

* {
  transition: all 0.25s ease-out;
}


.autocomplete-container {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  );
  border: none;
  max-height: 200px; /* Limit the height to prevent overflow */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 1000;
  width: calc(100% - 2px); /* Adjust the width to match the input */
}

.autocomplete-item {
  color:white;
  padding: 8px;
  cursor: pointer;
  list-style-type: none; /* Remove default list styling */
}

.autocomplete-item:hover {
  background: linear-gradient(
    to right,
    rgba(136, 63, 224, 0.2),
    rgba(243, 126, 126, 0.2)
  );
color:rgb(56, 54, 56);}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #6c2cc8, #cc5959);

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to right, #883fe0, #f37e7e);
}

@media only screen and (max-width: 600px) {
  .header {
    height: 15vh; /* Adjusted height for mobile */
  }

  nav {
    padding: 10px 0; /* Adjusted padding for mobile */
  }

  .logo {
    margin: 2px; /* Adjusted margin for mobile */
  }
  main {
    margin: 0 20px;
  }
  nav ul li {
    margin: 10px 10px; /* Adjusted margin for mobile */
  }

  nav.sticky {
    padding: 5px 5px; /* Adjusted padding for mobile */
  }

  

  .search-container {
    height: 40px; /* Adjusted height for mobile */
    border-radius: 20px; /* Adjusted border radius for mobile */
    padding: 5px 10px; /* Adjusted padding for mobile */
    width:300px;
   
  }

 
  .search-container:hover {
    animation:none;
  }
  .search-container .search-input {
    background: transparent;
    border: none;
    outline: none;
    width: 200px;
    font-weight: 500;
    font-size: 12px;
    transition: none;
    color:#fff;
  }
  
}